<h1 class="my-3 text-center">Liste des tâches</h1>

<app-todo-form></app-todo-form>

<ul class="list-group">
  <li
    #liTag
    (mouseenter)="liTag.classList.add('focused')"
    (mouseout)="liTag.classList.remove('focused')"
    [class.done]="todo.completed"
    *ngFor="let todo of todos$ |async"
    class="list-group-item d-flex justify-content-between">
      <span (click)="toggleStateTodo(todo)">{{ todo.title }}</span>
      <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">✖︎</button>
  </li>
</ul>
